flask
flask-cors
flask-socketio
openai
python-dotenv
selenium
pyvirtualdisplay
langchain_community
langchain
langchain-openai
langdetect
PyPDF2
langchain_core
pymongo
pinecone
langchain_pinecone
pdf2image
Pillow